<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Rooms</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link th:href="@{/css/menu.css}" rel="stylesheet" />
  <link th:href="@{/css/basic.css}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<img src="/img/background.webp" id="bg" alt="">
<div id="navbar">
  <div class="logo"><a href="/"><img src="/img/icon.png"></a></div>
  <div class="menu"><a href="/rooms">rooms</a>&nbsp;&nbsp; | &nbsp;&nbsp;<a href="#">students</a>&nbsp;&nbsp; | &nbsp;&nbsp;<a href="/potions">potions</a>&nbsp;&nbsp; | &nbsp;&nbsp;<a href="/about">about</a></div>
</div>
<div class="room">
  <div class="header">
    <div class="label" th:text="'Room ' + ${room.roomNumber}"></div>
  </div>
  <div>
    <span class="label small">Residents:</span>
    <span th:each="studentEntity: ${room.getStudents}">
            <span class="postIt" th:text="${studentEntity.name}"></span>
        </span>
  </div>
</div>
</body>
</html>